body {
    background-color: #76b852;
}

.cajita {
    background: white;
    text-align: center;
    width     : 360px;
    padding   : 45px;
    box-shadow: black 1px 3px 15px;
    margin    : auto;
    margin-top: 200px;
    box-sizing: border-box;
    position: relative;
}

.datos {
    background-color: #f2f2f2;
    box-sizing      : border-box;
    width           : 100%;
    height          : 46px;
    padding-left    : 20px;
    margin-bottom   : 15px;
    font-family     : 'Roboto', sans-serif;
    border          : 2px solid #f2f2f2;
}



.boton {
    background    : #4caf50;
    color         : white;
    text-transform: uppercase;
    padding-left  : 0px;
    margin-bottom : 0px
}
.boton:hover {
    background-color: #255428;
    transition: background 1s ease-in;
}

.fa-user-circle {
    position: absolute;
    left: 48px;
    top: 60px;
}

/*Esto es para ver si vos lo ves modificado*/